.title{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    
    color: rgba(248, 240, 89, 0.774);
    }
.href1{
    background-color: rgba(138, 106, 55, 0.504);
    border: 2px solid rgba(12, 12, 12, 0.489);
    }
.box{
    width: 60px;
    height: 30px;
    position: relative;
    top: 0;
    left: 1100px;
    }
.xx{
    position: absolute;
    top: 0;
    left: 170px;
    }
body{
    background-image: url(gazeta-fon-foni-pinterest-72.jpg);
    background-size:contain;
}
.body2{
    border: 4px solid black;
    height: fit-content;
    width: fit-content;
}
.pNews{
    border: 2px dashed;
    height: fit-content;
    width: fit-content;
    margin-right: 600px;
    font-size: 36px;
    color: rgba(161, 143, 4, 0.973);
    background-color: rgba(199, 140, 88, 0.363);

}
.npNews{
    border: 2px dashed;
    height: 400px;
    width: fit-content;
    font-size: 36px;
    color: rgba(235, 247, 14, 0.933);
    background-color: rgba(199, 125, 82, 0.384);
    position: absolute;
    top: 800px;
    right: 0px;
    bottom: 100px;
    left: 400px;
    
}
 .text7{
    background-color:rgba(213, 209, 83, 0.304);
    border: 3px rgb(214, 177, 26) dashed;
    position: absolute;
    top: -100;
    height: 400px;
    width: 900px;
    margin-right: 600px ;
    font-size: 34px;
    color:rgb(192, 159, 28);
}
.body1{
    border: 4px solid black;
    height: fit-content;
    width: fit-content;
}
.im{
    margin-left: 900px;
}



ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
}
li{
    float: left;
    left: 35%;
    margin-right: 36px;
    padding-top: 15px;
    position: relative;
    
}
a{
    text-decoration: none;
    color: black;
    background-color: khaki;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    

}
.u2{
    display: none;
    position: absolute;
    top: 40px;
}
li:hover .u2{
    display: block;
    height: 50px;    
}
li:hover .u2 .l2{
    float: none;
}

.menu1{
    color: black;
    margin-left:-34px ;
}

h2 {
    background-color: rgb(240, 230, 140);
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
}

.sty{
    background-color: rgba(0, 0, 0, 0);
    margin: 15px;
}

.box{
    width: 500px;
    height: 140px;
    border: 2px black solid;
    position: relative;
}